[Unit]
Description=Mudbot Discord Server
After=syslog.target

[Service]
Type=simple
User=mudbotuser
Group=mudbotuser
WorkingDirectory=/opt/mudbot
ExecStart=/opt/mudbot/app.py
SyslogIdentifier=mudbot
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target