[Unit]
Description=Mudbot Discord Server
After=syslog.target

[Service]
Type=simple
User=mudbotuser
Group=mudbotuser
WorkingDirectory=/home/pi/git/mudbot
ExecStart=/home/pi/git/mudbot/app.py
SyslogIdentifier=mudbot
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target